<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Prathaa Design Studio</div>
      <!-- <div class="intro-lead-in">Customized Elegance</div> -->
      <a class="btn btn-xl js-scroll-trigger" href="/gallery">View Gallery</a>
    </div>
  </div>
</header>